*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans Condensed", "sans-serif";
}

body{
    background-color: #F7EEF0;
}


nav{
    text-align: right;
    font-size: 18px;
}

nav > a{
    color: black;
    font-weight: 200;
    margin-right: 10px;
    text-decoration: none;
}

/****************************/

.container{
    padding: 80px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.imgheader h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 1px;
    font-weight: 100;
    position: relative;
    background: linear-gradient(90deg, rgba(75,73,111,1) 0%, rgba(224,141,86,1) 100%, rgba(0,212,255,1) 100%);
}

.infocontacto{
    font-size: 20px;
}

.infocontacto h2{
    text-align: center;
    padding-bottom: 30px;
    font-weight: 900;
    color: #892000; 
}


.formulario{
    padding-top: 60px;
    font-size: 20px;
}


.btn{
    background-color: #8b96cc;
    font-size: 20px;
}

.infosucursal{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.infosucursal h3{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 40%;
    color: #892000;
    display: flex;
    align-items: center;
}

/*footer*/ 
footer{
    padding: 200px 0 30px 0;
    margin: auto;
    overflow: hidden;
    font-size: 20px;
}

.container-footer{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    border-bottom: 1px solid saddlebrown;
    border-top: 1px solid saddlebrown;
}

.text-foo{
    text-align: center;
}

.finaltext{
    text-align: center;
    color: grey;
    padding-top: 10px;
}



